<div class="tab-content">
<% for(var j = 0; j < results.length; j++) { %>
<% var contract = results[j]; %>
<div role="tabpanel" class="tab-pane <%= j === 0 ? 'active' : '' %>" id="r<%= j %>">
<div class="row contract-stats">
    <div class="col-md-3">
        <p class="small">Etapa</p>
        <p><strong>Contratación</strong></p>
    </div>
    <div class="col-md-3">
        <p class="small">Estatus</p>
        <p class="semi-bold">
            <% if(contract.status == 'pending') { %> Pendiente
            <% } %>
            <% if(contract.status == 'active') { %> Activo
            <% } %>
            <% if(contract.status == 'cancelled') { %> Cancelado
            <% } %>
            <% if(contract.status == 'terminated') { %> Terminado
            <% } %>
        </p>
    </div>
    <div class="col-md-3" style="text-align: center">
        <p class="small">ID del contrato</p>
        <p class="semi-bold"><%= contract.contractid %></p>
    </div>
    <div class="col-md-3" style="text-align: center">
        <p class="small">Fecha de firma</p>
        <p class="semi-bold">
            <% if(contract.datesigned instanceof Date) { %>
            <% fecha = contract.datesigned %>
            <% dia = fecha.getDate() %>
            <% mes = fecha.getMonth() + 1 %>
            <% anio = fecha.getFullYear() %>
            <% if(dia < 10) { dia = '0' + dia; } %>
            <% if(mes < 10) { mes = '0' + mes; } %>
            <%= formato = dia + '/' + mes + '/' + anio %>
            <% } %>
        </p>
    </div>
</div>

<div class="row contract-stats">
    <div class="col-md-9">
        <p class="small">Título</p>
        <p class="semi-bold" style="text-align: justify"><%= contract.title %></p>
    </div>
    <div class="col-md-3" style="text-align: center">
        <p class="small">Monto</p>
        <p>
            <strong>
            <% if(!isNaN(contract.value_amount) && contract.value_amount > 0) { %>
            $
            <%= (contract.value_amount).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
            <% } else { %>
            No disponible
            <% } %>
            </strong>
        </p>
        <p class="small">Moneda</p>
        <p class="semi-bold"><%= contract.value_currency %></p>
    </div>
</div>

<div class="row contract-stats">
    <div class="col-md-12">
        <p class="small">Objeto del contrato</p>
        <p class="semi-bold" style="text-align: justify">
            <%= contract.description %>
        </p>
    </div>
</div>
<div class="row contract-stats">
    <div class="col-md-7">
        <p class="small">Comprador</p>
        <p class="semi-bold">
            <%= buyer !== null ? buyer.identifier_legalname : "No disponible" %>
        </p>
    </div>
	<div class="col-md-5">
        <p class="small">Área requirente</p>
        <p class="semi-bold">
            <%= requestingunit !== null ? requestingunit.identifier_legalname : "No disponible" %>
        </p>
    </div>
</div>
<div class="row contract-stats no-border">
    <div class="col-md-3 col-md-offset-6">
        <% if(links != null) { %>
        <!--     <p class="small">Descargar datos abiertos</p>  -->
            <% if(links.json != null) { %>
            <a href="<%= links.json %>" download="json"><span class="label" data-format="json">JSON</span></a>
            <% } %>

            <% if(links.xlsx != null) { %>
            <a href="<%= links.xlsx %>" download="xlsx"> <span class="label" data-format="xlsx">XLSX</span></a>
            <% } %>
        <% } %>
    </div>
    <div class="col-md-3">
        <% if(links != null && links.pdf != null) { %>
        <a href="<%= links.pdf %>" download="pdf">
            <p class="small">Descargar contrato</p>
            <span class="label" data-format="pdf">PDF</span>
        </a>
        <% } %>
    </div>
</div>
<p class="small">Procesos</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne_<%= j %>">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_<%= j %>" aria-expanded="true" aria-controls="collapseOne_<%= j %>">
                    <i class="more-less glyphicon glyphicon-chevron-right"></i>
                    Ítems
                </a>
            </h4>
        </div>
        <div id="collapseOne_<%= j %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_<%= j %>">
            <div class="panel-body">
                <% var nitems = items.filter(function (e) { return e.contract_id == contract.id; }); %>
                <% if(nitems.length == 0) { %>
                No se han registrado ítems en esta etapa
                <% } %>
                <% for(var i = 0; i < nitems.length; i++) { %>
                <strong><%= nitems[i].description %></strong>
                <ul>
                    <li>Identificador: <%= nitems[i].itemid %></li>
                    <li>Descripción: <%= nitems[i].classification_description %></li>
                    <li>Unidad: <%= nitems[i].unit_name %></li>
                    <li>Cantidad: <%= nitems[i].quantity %></li>
                    <li>Ubicación: <a data-toggle="modal" data-target="#ubicacionModal" data-action="ubicacion" data-latitud="<%= items[i].latitude %>" data-longitud="<%= items[i].longitude %>">Ver Ubicación</a></li>
                </ul>
                <% } %>
            </div>
        </div>
    </div>

        <!-- Modal -->
        <div class="modal fade" id="ubicacionModal" tabindex="-1" role="dialog" aria-labelledby="ubicacionModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="width: 60%;">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="ubicacionModalLabel">Ubicación</h5>
                </div>
                <div class="modal-body">
                    <div id="map"></div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree_<%= j %>">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree_<%= j %>" aria-expanded="false" aria-controls="collapseThree_<%= j %>">
                    <i class="more-less glyphicon glyphicon-chevron-right"></i>
                    Documentos
                </a>
            </h4>
        </div>
        <div id="collapseThree_<%= j %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_<%= j %>">
            <div class="panel-body">
                <% var ndocuments = documents.filter(function (e) { return e.contract_id == contract.id; }); %>
                <% if(ndocuments.length == 0) { %>
                No se han registrado documentos en esta etapa
                <% } %>
                <% for(var i = 0; i < ndocuments.length; i++) { %>
                <strong><%= ndocuments[i].title %></strong>
                <ul>
                    <li>Identificador: <%= ndocuments[i].documentid %></li>
                    <li>Título: <%= ndocuments[i].title %></li>
                    <li>Descripción: <%= ndocuments[i].description %></li>
                    <li><a href="<%= ndocuments[i].url %>">URL</a></li>
                </ul>
                <% } %>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour_<%= j %>">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour_<%= j %>" aria-expanded="false" aria-controls="collapseFour_<%= j %>">
                    <i class="more-less glyphicon glyphicon-chevron-right"></i>
                    Modificaciones
                </a>
            </h4>
        </div>
        <div id="collapseFour_<%= j %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour_<%= j %>">
            <div class="panel-body">
                <% var nchanges = changes.filter(function (e) { return e.contract_id == contract.id; }); %>
                <% if(nchanges.length == 0) { %>
                No se han registrado modificaciones en esta etapa
                <% } %>
                <% for(var i = 0; i < nchanges.length; i++) { %>
                <strong>Modificación <%= i %></strong>
                <ul>
                    <li>Fecha de modificación: <%= nchanges[i].amendments_date %></li>
                    <li>Justificación: <%= nchanges[i].amendments_rationale %></li>
                    <li>Identificador: <%= nchanges[i].amendments_id %></li>
                    <li>Descripción: <%= nchanges[i].amendments_description %></li>
                </ul>
                <% } %>
            </div>
        </div>
    </div>
</div>
</div>
<% } %>
</div>