<div class="row contract-stats">
    <div class="col-md-2">
        <p class="small">Etapa</p>
        <p><strong>Licitación</strong></p>
    </div>
    <div class="col-md-2">
        <p class="small">Estatus</p>
        <p class="semi-bold">
            <% if(tender.status == 'planning') { %> En planeación
            <% } %>
            <% if(tender.status == 'planned') { %> Planeada
            <% } %>
            <% if(tender.status == 'active') { %> Activa
            <% } %>
            <% if(tender.status == 'cancelled') { %> Cancelada
            <% } %>
            <% if(tender.status == 'unsuccessful') { %> No exitosa
            <% } %>
            <% if(tender.status == 'complete') { %> Concluida
            <% } %>
            <% if(tender.status == 'withdrawn') { %> Retirada
            <% } %>
        </p>
    </div>
    <div class="col-md-4" style="text-align: center">
        <p class="small">ID de la licitación</p>
        <p class="semi-bold">
            <%= tender.tenderid %>
        </p>
    </div>
    <div class="col-md-4" style="text-align: center">
        <p class="small">Período de la licitación</p>
        <div class="row">
            <div class="col-md-6">
                <p class="semi-bold">
                    <% if(tender.tenderperiod_startdate instanceof Date) { %>
                    <% fecha = tender.tenderperiod_startdate %>
                    <% dia = fecha.getDate() %>
                    <% mes = fecha.getMonth() + 1 %>
                    <% anio = fecha.getFullYear() %>
                    <% if(dia < 10) { dia = '0' + dia; } %>
                    <% if(mes < 10) { mes = '0' + mes; } %>
                    <%= formato = dia + '/' + mes + '/' + anio %>
                    <% } %>
                </p>
            </div>
            <div class="col-md-6">
                <p class="semi-bold">
                    <% if(tender.tenderperiod_enddate instanceof Date ) { %>
                    <% fecha = tender.tenderperiod_enddate %>
                    <% dia = fecha.getDate() %>
                    <% mes = fecha.getMonth() + 1 %>
                    <% anio = fecha.getFullYear() %>
                    <% if(dia < 10) { dia = '0' + dia; } %>
                    <% if(mes < 10) { mes = '0' + mes; } %>
                    <%= formato = dia + '/' + mes + '/' + anio %>
                    <% } %>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row contract-stats">
    <div class="col-md-8">
        <p class="small">Denominación de la licitación</p>
        <p class="semi-bold" style="text-align: justify">
            <%= tender.title %>
        </p>
    </div>
    <div class="col-md-4" style="text-align: center">
        <p class="small">Monto</p>
        <p><strong>
                <% if(!isNaN(tender.value_amount) && tender.value_amount > 0) { %>
                $
                <%= (tender.value_amount).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                <% } else { %>
                No disponible
                <% } %>
            </strong></p>
        <p class="small">Moneda</p>
        <p class="semi-bold">
            <%= tender.value_currency %>
        </p>
    </div>
</div>

<div class="row contract-stats">
    <div class="col-md-12">
        <p class="small">Objeto de la licitación</p>
        <p class="semi-bold" style="text-align: justify">
            <%= tender.description %>
        </p>
    </div>
</div>

<div class="row contract-stats">
    <div class="col-md-4">
        <p class="small">Método de contratación</p>
        <p class="semi-bold">
            <%= tender.procurementmethod_details %>
        </p>
    </div>

    <div class="col-md-4">
        <p class="small">Categoría de la contratación</p>
        <p class="semi-bold">
            <% if(tender.additionalprocurementcategories == 'Adquisición de bienes') { %> Adquisición de bienes
            <% } %>
            <% if(tender.additionalprocurementcategories == 'Arrendamiento de bienes') { %> Arrendamiento de bienes
            <% } %>
            <% if(tender.additionalprocurementcategories == 'Servicios') { %> Servicios
            <% } %>
            <% if(tender.additionalprocurementcategories == 'Servicios relacionados con obras públicas') { %>
            Servicios relacionados con obras públicas
            <% } %>
            <% if(tender.additionalprocurementcategories == 'Obras') { %> Obras
            <% } %>
        </p>
    </div>
</div>

<div class="row contract-stats">
    <div class="col-md-7">
        <p class="small">Comprador</p>
        <p class="semi-bold">
            <%= buyer !== null ? buyer.identifier_legalname : "No disponible" %>
        </p>
    </div>
	<div class="col-md-5">
        <p class="small">Área requirente</p>
        <p class="semi-bold">
            <%= requestingunit !== null ? requestingunit.identifier_legalname : "No disponible" %>
        </p>
    </div>
</div>

<div class="row contract-stats no-border">
    <div class="col-md-3 col-md-offset-6">
        <% if(links != null) { %>
        <!--     <p class="small">Descargar datos abiertos</p> -->
            <% if(links.json != null) { %>
            <a href="<%= links.json %>" download="json"><span class="label" data-format="json">JSON</span></a>
            <% } %>

            <% if(links.xlsx != null) { %>
            <a href="<%= links.xlsx %>" download="xlsx"> <span class="label" data-format="xlsx">XLSX</span></a>
            <% } %>
        <% } %>
    </div>
    <div class="col-md-3">
        <% if(links != null && links.pdf != null) { %>
        <a href="<%= links.pdf%>" download="pdf">
            <p class="small">Descargar contrato</p>
            <span class="label" data-format="pdf">PDF</span>
        </a>
        <% } %>
    </div>
</div>
<p class="small">Procesos</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="more-less glyphicon glyphicon-chevron-right"></i>
                    Ítems
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <% if(items.length == 0) { %>
                No se han registrado ítems en esta etapa
                <% } %>
                <% for(var i = 0; i < items.length; i++) { %>
                <strong><%= items[i].description %> </strong>
                <ul>
                    <li>Identificador: <%= items[i].itemid %></li>
                    <li>Descripción: <%= items[i].classification_description %></li>
                    <li>Unidad: <%= items[i].unit_name %></li>
                    <li>Cantidad: <%= items[i].quantity %></li>
                    <li>Ubicación: <a data-toggle="modal" data-target="#ubicacionModal" data-action="ubicacion" data-latitud="<%= items[i].latitude %>" data-longitud="<%= items[i].longitude %>">Ver Ubicación</a></li>
                </ul>
                <% } %>
            </div>
        </div>
    </div>
      
        <!-- Modal -->
        <div class="modal fade" id="ubicacionModal" tabindex="-1" role="dialog" aria-labelledby="ubicacionModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="width: 60%;">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="ubicacionModalLabel">Ubicación</h5>
                </div>
                <div class="modal-body">
                    <div id="map"></div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="more-less glyphicon glyphicon-chevron-right"></i>
                    Licitantes
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <% if(tenderers.length == 0) { %>
                No se han registrado licitantes en esta etapa
                <% } else { %>
                <ul>
                    <% for(var i = 0; i < tenderers.length; i++) { %>
                    <li><%= tenderers[i].name %></li>
                    <strong>RFC:</strong> <%= tenderers[i].identifier_id %>
                    <% } %>
                </ul>
                <% } %>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="more-less glyphicon glyphicon-chevron-right"></i>
                    Hitos
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <% if (milestones.length == 0) { %>
                No se han registrado hitos en esta etapa
                <% } %>
                <% for( var i = 0; i < milestones.length; i++) { %>
                <strong><%= milestones[i].title %></strong>
                <ul>
                    <li>Identificador: <%= milestones[i].title %></li>
                    <li>Descripción: <%= milestones[i].description %></li>
                    <% if(milestones[i].duedate) { %>
                    <li>Fecha de vencimiento: <%= milestones[i].duedate%></li>
                    <% } %>
                    <% if(milestones[i].date_modified) { %>
                    <li>Fecha de modificación: <%= milestones[i].date_modified %></li>
                    <li>Estátus: <%= milestones[i].status %></li>
                    <% } %>
                </ul>
                <% } %>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <i class="more-less glyphicon glyphicon-chevron-right"></i>
                    Documentos
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <% if(documents.length == 0) { %>
                No se han registrado documentos en esta etapa
                <% } %>
                <% for(var i = 0; i < documents.length; i++) { %>
                <strong><%= documents[i].title %></strong>
                <ul>
                    <li>Identificador: <%= documents[i].documentid %></li>
                    <li>Título: <%= documents[i].title %></li>
                    <li>Descripción: <%= documents[i].description %></li>
                    <li><a href="<%= documents[i].url %>">URL</a></li>
                </ul>
                <% } %>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <i class="more-less glyphicon glyphicon-chevron-right"></i>
                    Modificaciones
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                <% if(changes.length == 0) { %>
                No se han registrado modificaciones en esta etapa
                <% } %>
                <% for(var i = 0; i < changes.length; i++) { %>
                <strong>Modificación <%= i %></strong>
                <ul>
                    <li>Fecha de modificación: <%= changes[i].amendments_date %></li>
                    <li>Justificación: <%= changes[i].amendments_rationale %></li>
                    <li>Identificador: <%= changes[i].amendments_id %></li>
                    <li>Descripción: <%= changes[i].amendments_description %></li>
                </ul>
                <% } %>
            </div>
        </div>
    </div>
</div>