<%if (data.length === 0){ %>
    <div class="alert alert-warning" role="alert">
        <p>No se han registrado clasificaciones adicionales</p>
    </div>
<%}%>
<% for(var classification of data) {%>
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                <p><strong>Esquema:</strong> <%= classification.schema%></p>
            </div>
            <div class="col-md-6">
                <p><strong>Identificador:</strong> <%= classification.identifier %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><strong>Descripción:</strong> <%= classification.description%></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default" name="edit_additional_classification" data-classification_id="<%= classification.id%>"><i class="fa fa-edit"></i> Editar</button>
                <button class="btn btn-danger" name="delete_additional_classification" data-classification_id="<%= classification.id%>"><i class="fa fa-trash"></i> Eliminar</button>
            </div>
        </div>
    </div>
<%}%>
