<%
if ( data.length > 0 ){
for (var i=0; i< data.length; i++){%>
<div class="panel panel-default">
    <div class="panel-body">
        <p><label>Fecha de modificaci贸n:</label> <%= data[i].amendments_date%></p>
        <p><label>Justificaci贸n:</label> <%= data[i].amendments_rationale%></p>
        <p><label>Identificador:</label> <%= data[i].amendments_id%></p>
        <p><label>Descripci贸n:</label> <%= data[i].amendments_description%></p>
        
        <button data-action="delete_change" data-table="<%= table %>" data-id="<%= data[i].id %>" class="btn btn-default">Eliminar</button>
        <button data-show="modal" data-target="#genericModal" data-action="edit_change" data-table="<%= table %>" data-id="<%= data[i].id %>" class="btn btn-default">Editar</button>
    </div>
</div>
<%}
} else {
%>

<div class="alert alert-warning" role="alert"><strong>Atenci贸n:</strong> No se han registrado cambios</div>
<%}
%>