<form id="editcontactpoint_form">
    <input type="hidden" name="id" value="<%= id  %>">

    <p>
        <label>Tipo de punto de contacto</label>
        <select name="type" class="form-control" required>
            <option value="" <%= '' == data.type ? 'selected' : '' %>>- -</option>
            <option value="contactPoint" <%= 'contactPoint' == data.type ? 'selected' : '' %>>Punto de contacto</option>
            <option value="attorney" <%= 'attorney' == data.type ? 'selected' : '' %>>Abogado</option>
        </select>
    </p>
    <p>
        <label>Nombre</label>
        <input type="text" name="givenname" class="form-control" value="<%= data.givenname || data.name %>" required>
    </p>
    <p>
        <label>Primer Apellido</label>
        <input type="text" name="surname" class="form-control" value="<%= data.surname %>" required>
    </p>
    <p>
        <label>Segundo Apellido</label>
        <input type="text" name="additionalsurname" class="form-control" value="<%= data.additionalsurname %>">
    </p>
    <p>
        <label>Correo electrónico</label>
        <input type="text" name="email" class="form-control" value="<%= data.email %>">
    </p>
    <p>
        <label>Teléfono</label>
        <input type="text" name="telephone" class="form-control" value="<%= data.telephone %>">
    </p>
    <p>
        <label>Número de fax</label>
        <input type="text" name="faxnumber" class="form-control" value="<%= data.faxnumber %>">
    </p>
    <p>
        <label>URL</label>
        <input type="url" name="url" class="form-control" value="<%= data.url %>">
    </p>
    <p>
        <label>Idioma(s) disponible(s)</label>
        <select name="language" class="form-control" multiple>
            <% for(var i = 0; i < languages.length; i++) { %>
            <option value="<%= languages[i].name %>" <%= data.language ? data.language.split(',').indexOf(languages[i].name) !== -1  ? 'selected' : '' : '' %>><%= languages[i].name + ' - ' + languages[i].alpha2 %></option>
            <% } %>
        </select>
    </p>

    <button class="btn btn-primary">Guardar</button>
</form>