<style>
    button.multiselect {
        text-align: left;
    }

    button.multiselect .caret {
        position: absolute;
        left: 97%;
        top: 45%;
    }

    ul.multiselect-container.dropdown-menu {
        width: 100%;
    }

    ul.multiselect-container.dropdown-menu > li label {
        padding-left: 20px;
    }

    ul.multiselect-container.dropdown-menu > li input[type="checkbox"] {
        display: none;
    }

    #items {
        margin-bottom: 10px;
        max-height: 500px;
        overflow: hidden;
        overflow-y: auto;
    }

    #items .close {
        margin-right: 20px;
    }

    .ui-autocomplete {
        z-index: 9999 !important;
    }
</style>
<form id="update_location_project_form">
    <input type="text" name="location_id" value = "<%= data[0].id %>" hidden>
    <% for (var i = 0; i < data[0].coordinates.length; i++) { %>
        <input type="hidden" name="id" value="<%= data[0].coordinates[i].id %>">
        <input type="hidden" name="point" value="<%= data[0].coordinates[i].point %>">
    <% } %>
    <p>
        <label data-tooltip="crear_proceso" title="Un nombre o descripción de esta ubicación. Esto puede incluir el nombre(s) de la ubicación(es), o puede proporcionar una descripción legible por humanos de la ubicación cubierta. Esta descripción puede ser usada en una interfaz de usuario.">
            Descripción </label>
        <textarea class="form-control" name="locations_description" rows="5" minlength="1" maxlength="900" value ="<%= data[0].description %>" required><%=(typeof data[0].description!= "undefined")? data[0].description : ''%></textarea>
    </p>
    <label data-tooltip="crear_proceso" title='Se utiliza el estándar GeoJSON para expresar información básica de una ubicación, utilizando los valores de latitud y longitud en la proyección WGS84 (EPSG:4326). Una ubicación de punto puede ser identificada al geocodificar un domicilio de entrega. Para licencias de concesión u otros que cubran un polígono que no está contenido en ningún nomenclátor conocido, se puede utilizar un polígono o múltiples polígonos.'>Geometría</label>
    <p>
        <label data-tooltip="crear_proceso" title='El tipo de objetos geométricos del estándar GeoJSON proporcionados. Para proporcionar datos de latitud y longitud utilizar "punto", e introducir una matriz de valores de coordenadas (latitud y longitud), por ejemplo: [37.42,-122.085]. Tomar en cuenta el uso de mayúsculas en los valores capturados, establecer en orden para mantener compatibilidad con GeoJSON.'>Tipo</label>
            <select class="form-control" name="locations_geometry_type" required>
                <option value="">Seleccione una opción</option>
                <% for (var i = 0; i < geometryTypes.length; i++) { %>
                    <option value="<%= geometryTypes[i].code %>" <%= (geometryTypes[i].code === data[0].type ) ? 'selected' : '' %> > <%= geometryTypes[i].title%></option>
                <% } %>
            </select>
    </p>
    <div id="items">
        <% for (var i = 0; i < data[0].coordinates.length; i++) { %>
        <div class="row">
            <input type="hidden" name="id" value="<%= data[0].coordinates[i].id %>">
            <input type="hidden" name="point" value="<%= data[0].coordinates[i].point %>">
            <button type="button" class="close" data-dismiss="item" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="col-sm-12">
                <p>
                    <label data-tooltip="crear_proceso" title='La matriz relevante de puntos, p. ej. [latitud, longitud], o una matriz anidada para la geometría GeoJSON que se utiliza. La longitud y la latitud DEBEN expresarse en grados decimales en la proyección WGS84 (EPSG: 4326).'>
                        Coordenadas</label>
                    <input name="items[0].locations_geometry_coordinates" type="number" step="any" class="form-control" value="<%= data[0].coordinates[i].point %>">
                </p>
            </div>
        </div>
        <% } %>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-default" data-action="add_item"><span class="fa fa-plus"></span></button>
    </div>

    <button type="submit" class="btn btn-default">Actualizar</button>
</form>

<div class="hide" id="itemTemplate">
    <div class="row">
        <button type="button" class="close" data-dismiss="item" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="col-sm-12">
            <p>
                <label data-tooltip="crear_proceso" title='La matriz relevante de puntos, p. ej. [latitud, longitud], o una matriz anidada para la geometría GeoJSON que se utiliza. La longitud y la latitud DEBEN expresarse en grados decimales en la proyección WGS84 (EPSG: 4326).'>
                    Coordenadas</label>
                <input name="items[0].locations_geometry_coordinates" type="number" step="any" class="form-control">
            </p>
        </div>
    </div>
</div>

<script>
    $('#documents_datePublished, #documents_dateModified').datetimepicker({
        locale: 'es',
        format: 'YYYY-MM-DD HH:mm:ss'//'DD/MM/YYYY HH:mm:ss'
    });
</script>
