<form id="editguarantee_form">
    <input type="hidden" name="id" value="<%= id %>">
    <input type="hidden" name="table" value="<%= table %>">
    <input type="hidden" name="ocid" value="<%= ocid %>">

    <p>
        <!-- <label title="">Identificador</label> -->
        <input type="hidden" class="form-control" name="guarantee_id" value="<%= guarantee.guarantee_id %>" readonly>
    </p>

    <p>
        <label title="">Forma de garantía</label>
        <select class="form-control" name="type" required>
            <option value="" <%= guarantee.type == '' ? 'selected' : '' %>>Seleccione una opción</option>
            <option value="bail" <%= guarantee.type == 'bail' ? 'selected' : '' %>>Fianza</option>
            <option value="depositSlip" <%= guarantee.type == 'depositSlip' ? 'selected' : '' %>>Billete de depósito</option>
            <option value="letterOfCredit" <%= guarantee.type == 'letterOfCredit' ? 'selected' : '' %>>Carta de crédito</option>
            <option value="suretyBond" <%= guarantee.type == 'suretyBond' ? 'selected' : '' %>>Seguro de caución</option>
            <option value="check" <%= guarantee.type == 'check' ? 'selected' : '' %>>Cheque</option>
        </select>
    </p>

    <p>
        <label title="">Fecha de la garantía</label>
        <input type="text" class="form-control" id="newguarantee_date" name="date" value="<%= guarantee.date_text %>" required>
    </p>

    <p>
        <label title="">Obligaciones garantizadas</label>
        <select class="form-control" name="obligations" required>
            <option value="" <%= guarantee.obligations == '' ? 'selected' : '' %>>Seleccione una opción</option>
            <option value="fulfillment" <%= guarantee.obligations == 'fulfillment' ? 'selected' : '' %>>Cumplimiento</option>
            <option value="prepaid" <%= guarantee.obligations == 'prepaid' ? 'selected' : '' %>>Anticipo</option>
            <option value="latentDefects" <%= guarantee.obligations == 'latentDefects' ? 'selected' : '' %>>Vicios ocultos</option>
            <option value="confidentiality" <%= guarantee.obligations == 'confidentiality' ? 'selected' : '' %>>Confidencialidad</option>
            <option value="quality" <%= guarantee.obligations == 'quality' ? 'selected' : '' %>>Calidad</option>
        </select>
    </p>

    <div class="row">
        <p class="col-xs-6">
            <label title="">Valor de la garantía</label>
            <input type="number" class="form-control" name="value" data-vregex="decimal" min="0" step="0.01" value="<%= guarantee.value %>" required>
        </p>

        <div class="col-xs-6">
                <p>
                    <label title="">Moneda</label>
                    <select class="form-control" name="currency" required>
                        <option value="" <%= guarantee.currency == '' ? 'selected' : '' %>>Seleccione una opción</option>
                        <% for (var i = 0; i < currencies.length; i++) { %>
                        <option value="<%= currencies[i].alphabetic_code %>" <%= guarantee.currency == currencies[i].alphabetic_code ? 'selected' : '' %> ><%= currencies[i].currency + ' - ' + currencies[i].alphabetic_code %></option>
                        <% } %>
                    </select>
                </p>
        </div>
    </div>
    <p>
        <label title="">Institución que expide la garantía</label>
        <select class="form-control" name="guarantor" required>
            <option value="" <%= guarantee.guarantor == '' ? 'selected' : '' %>>Seleccione una opción</option>
            <% for (var i = 0; i < guarantors.length; i++) { %>
            <option value="<%= guarantors[i].id %>" <%= guarantee.guarantor == guarantors[i].id ? 'selected' : '' %>><%= guarantors[i].name %></option>
            <% } %>
        </select>
    </p>

    <label title="">
        <h4>Periodo de la garantía</h4>
    </label>

    <div class="row">
        <div class="col-sm-6">
            <p>
                <label title="">Fecha de inicio</label>
                <input type="text" class="form-control" id="newguarantee_date1" name="guaranteePeriod_startdate" value="<%= guarantee.guaranteeperiod_startdate_text %>" required>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label title="">Fecha de término</label>
                <input type="text" class="form-control" id="newguarantee_date2" name="guaranteePeriod_enddate" value="<%= guarantee.guaranteeperiod_enddate_text %>" required>
            </p>
        </div>
    </div>

    <button class="btn btn-primary">Guardar</button>
</form>