<% if (data.length > 0) { %>
<% for (var i = 0; i < data.length; i++) { %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <%= data[i].guarantee_id %>
        </h4>
    </div>
    <div class="panel-body">
        <p>
            <label>Forma de garantía:</label>
            <% if (data[i].type == '') { %> <% } %>
            <% if (data[i].type == 'bail') { %> Fianza <% } %>
            <% if (data[i].type == 'depositSlip') { %> Billete de depósito <% } %>
            <% if (data[i].type == 'letterOfCredit') { %> Carta de crédito <% } %>
            <% if (data[i].type == 'suretyBond') { %> Seguro de caución <% } %>
            <% if (data[i].type == 'check') { %> Cheque <% } %>
        </p>
        <p>
            <label>Fecha de la garantía:</label>
            <%= data[i].date %>
        </p>
        <button class="btn btn-default" data-action="delete_guarantee" data-table="<%= table %>" data-id="<%= data[i].id %>">Eliminar</button>
        <button class="btn btn-default" data-action="edit_guarantee" data-table="<%= table %>" data-id="<%= data[i].id %>" data-ocid="<%= ocid %>" data-show="modal" data-target="#genericModal">Editar</button>
    </div>
</div>
<% } %>
<% } else { %>
<div class="alert alert-warning" role="alert"><strong>Atención:</strong> No se han registrado garantías</div>
<% } %>