<form id ="newamendmentchange_form">
    <input type="text" name = "table" value = "<%= table %>" hidden>
    <input type="text" name = "localid" value = "<%= localid %>" hidden>
    <input type="text" name="fkname" value = "<%= fkname %>" hidden>
    <input type="text" name="fkid" value = "<%= fkid %>" hidden>
    
    <p>
        <label title='La fecha de modificación del contrato.'>Fecha de modificación</label>
        <input type="text" class="form-control" id= "newchange_date1" name = "amendments_date" required>
    </p>
    <p>
        <label data-tooltip="crear_proceso" title='Razones por las cuales se realiza la modificación.'>
        Justificación</label>
        <textarea name="amendments_rationale" class="form-control" rows="5"><%= %></textarea>
    </p>
    <p><label data-tooltip="crear_proceso" title='Un identificador para esta modificación. A menudo el número de la modificación'>
    	Identificador</label>
        <input class="form-control" type="text" name="amendments_id">
    </p>  
    <p><label data-tooltip="crear_proceso" title='Una descripción en texto libre, o semi-estructurada, de los cambios realizados en esta modificación.'>
        Descripción<!--Description--></label>
        <textarea class="form-control" name="amendments_description" rows="5"></textarea>
    </p>
     
    <button class="btn btn-default">Guardar</button>
</form>