<%if (parties.length === 0){ %>
<div class="alert alert-warning" role="alert">
    <p>No se han registrado partes</p>
</div>
<%}%>

<%for (var i = 0; i < parties.length; i++){%>
<div class="well">
    <div class="row">
        <div class="col-md-6">
            <p><strong>Nombre común:</strong> <%= parties[i].name%></p>
        </div>
        <div class="col-md-6">
            <p><strong>Identificador del actor:</strong> <%= parties[i].partyid %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><strong>Papeles del actor:</strong> <%= parties[i].roles%></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" name="edit_party" data-parties_id="<%= parties[i].id%>"><i class="fa fa-edit"></i> Editar</button>        
            <button class="btn btn-danger" name="delete_party" data-parties_id="<%= parties[i].id %>" type="button" >Eliminar</button>
        </div>
    </div>
</div>
<%}%>