<% if (data.length > 0) { %>
<% for (var i = 0; i < data.length; i++) { %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><%= data[i].title %></h4>
    </div>
    <div class="panel-body">
        <p>
            <label>ID:</label> <%= data[i].requestforquotes_id %>
        </p>
        <p>
            <label>Descripción:</label> <%= data[i].description %>
        </p>
        <button class="btn btn-default" data-action="delete_quoterequest" data-table="requestforquotes" data-dependencies="requestforquotesinvitedsuppliers;requestforquotesitems"
            data-id="<%= data[i].id %>" data-dkey="requestforquotes_id">Eliminar</button>
        <button class="btn btn-default" data-action="edit_quote_request" data-ocid="<%= ocid %>" data-id="<%= data[i].id %>" data-show="modal" data-target="#genericModal">Editar</button>
    </div>
</div>
<% } %>
<% } else { %>
<div class="alert alert-warning" role="alert"><strong>Atención:</strong> No se han registrado solicitudes</div>
<% } %>